@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
}

.header {
  background-color: #65e4a3;
  height: 473px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-top {
  padding-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.navigation ul li {
  font-family: "Manrope", sans-serif;
  list-style: none;
  font-size: 16px;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation ul li a {
  text-decoration: none;
  color: #0a2640;
  padding-right: 40px;
}

.navigation ul li:last-child a {
  border: 2px solid #0a2640;
  padding: 8px 40px;
  border-radius: 24px;
}

.header-bottom {
  display: flex;
  margin-top: 96px;
}

.header-buttom-left {
  font-family: "Manrope", sans-serif;
  width: 600px;
  height: 183px;
}

.header-bottom-left h4 {
  color: #0a2640;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  font-family: "Open Sans";
}

.header-bottom-left h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  margin: 14px 0 0 0;
  font-family: "Manrope";
}

.header-bottom-right {
  display: flex;
  align-items: center;
}

.header-bottom-right p {
  font-family: "Open Sans", sans-serif;
  width: 455px;
  color: #0a2640;
}

.heading {
  text-align: center;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  padding: 0px 43px;
}

.blue-color {
  color: #0a2640;
}

.white-color {
  color: #fff;
}

.member-heading {
  padding: 0 43px;
}

.box-content h2 {
  margin: 0;
  padding-top: 32px;
}

.member-paragaraph {
  text-align: center;
  color: #0a2640;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
}

.member-paragaraph p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #0a2640;
}

.box-content p {
  text-align: left;
}

.main-content .box-content h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 96px;
}

.main-content .box-content p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.our-member {
  padding: 96px 0 120px 0;
}

.main-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #0a2640;
}

.our-story {
  background-color: #0a2640;
  padding: 120px 0 120px 0px;
}

.story-heading {
  color: #ffffff;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.story {
  color: #f1f1f1;
  padding: 0 157px 0 157px;
}

.story h4 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  display: flex;
}

.story p {
  width: 799px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
}

.story h2 {
  text-align: left;
  padding-right: 85px;
}

.our-team {
  padding: 124px 0 124px 0;
}

.team-info h4 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  color: #777777;
}

.team-info p {
  color: #777777;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
}

.team-info h2 {
  text-align: left;
  padding: 0;
}

.team-members {
  display: flex;
  justify-content: center;
}

.member {
  width: 340px;
  height: 440px;
  font-size: 16px;
  padding-bottom: 110px;
}

.member h3 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}

.team-info {
  padding: 0 250px 0 155px;
  margin-bottom: 56px;
}

.member p {
  color: #777777;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.official {
  display: flex;
  width: 40%;
  align-items: center;
}

.box.image {
  width: 120px;
  height: 120px;
}

.text-card {
  padding-left: 24px;
}

.manager-bio {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
}

.official h3 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
}

.officials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-blog {
  background-color: #0a2640;
  color: #f1f1f1;
  text-align: center;
  font-family: "Open Sans";
  padding: 118px 0 118px 0;
}

.our-blog h2 {
  padding: 0 32px 64px 32px;
}

.our-blog h4 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.blog {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 84px;
}

.right p {
  color: #f1f1f1;
  text-align: left;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
}

.left h1,
.right p {
  margin: 0;
}

.right,
.left {
  width: 550px;
  display: flex;
  align-items: flex-start;
}

.responsible {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 80px;
  align-items: flex-start;
}

.responsible h1 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.news-letter {
  margin: 124px 0;
}

.news-letter h2 {
  padding-top: 73px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  padding: 0 255px 0 234px;
}

.email form input:last-child {
  font-family: "Open Sans";
  background: #65e4a3;
  border: 2px solid #65e4a3;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: 700;
  font-size: 20px;
}

.email input:first-child {
  border-radius: 30px;
  width: 370px;
  height: 56px;
  padding-left: 32px;
  margin-right: 24px;
}

.newsletter-wrapper {
  background-color: #0a2640;
  background-image: url(images/background-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 787px;
  color: #f1f1f1;
  text-align: center;
  border-radius: 20px;
  height: 391px;
  display: flex;
  align-items: center;
}

.no-outline {
  outline: none;
  border: none;
  font-size: 20px;
}

input::placeholder {
  color: #000;
  font: 20px Open Sans;
}

.body {
  background: #ffffff;
}

.footer-link {
  display: flex;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  color: #777777;
  margin-bottom: 90px;
}

.footer-links {
  display: flex;
  width: 642px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  justify-content: space-between;
}

.footer-link li a {
  color: #777;
  text-decoration: none;
}

.footer-link li:first-child {
  color: #000;
}

.footer-content {
  width: 326px;
}

.footer-link ul {
  list-style-type: none;
}

.footer-content p {
  font-family: "Open Sans";
  line-height: 28px;
  padding: 40px 0 64px 0;
}

.footer-content h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.footer-link li {
  margin-bottom: 32px;
}

.hiring {
  border-radius: 16px;
  color: #0a2640;
  background-color: #65e4a3;
  font-weight: 700;
  font-size: 13px;
  padding: 6px;
}

/* blogs page css start */

.blog-content {
  text-align: center;
}

.blog-discription {
  display: flex;
  padding-bottom: 72px;
}

.blog-content h2 {
  font-size: 64px;
  font-family: "Manrope";
  line-height: 86%;
  font-weight: 400;
}

.category-content p span {
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans";
  color: #000;
}

.category-content p:first-child {
  font-size: 16px;
  font-weight: 400;
  color: #777777;
}

.user-info {
  font-family: "Open Sans";
  display: flex;
  font-size: 16px;
  color: #000;
  align-items: center;
}

.user-info p {
  font-family: "Open Sans";
  font-size: 16px;
  color: #000;
  padding-left: 12px;
}

.user-info img {
  width: 32px;
  height: 32px;
}

.category-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-bottom: 67px;
}

.category-content h3 {
  font-size: 48px;
  height: 145px;
  font-family: "manrope";
  font-weight: 400;
  margin: 0;
}

.blog-content h5 {
  font-size: 20px;
  font-family: "Open Sans";
  padding-top: 45px;
  font-weight: 400;
}

.latest-news {
  font-family: "manrope";
  /* font-size: 48px; */
}

.latest-news h2 {
  font-family: "Manrope";
  font-size: 48px;
  line-height: 110%;
  font-weight: 400;
  padding: 72px 0 0 112px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  width: 998px;
  justify-content: center;
  margin: auto;
}

.news-article {
  padding-bottom: 80px;
  width: 300px;
  margin-right: 28px;
}

.writter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.news-detail {
  font-size: 25px;
  font-family: "Open Sans";
  padding: 0px;
  margin: 0px;
}

.writter p {
  padding-right: 130px;
  padding-left: 12px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.news-title {
  color: #777777;
  font-family: "Open Sans";
}

.news-title span {
  color: #0a2640;
  font-family: "Open Sans";
  font-weight: 500;
}

.view-all input {
  font-family: "Open Sans";
  background-color: #fff;
  border: 2px solid #0a2640;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: 700;
  font-size: 20px;
}

.view-all {
  display: flex;
  justify-content: center;
}

/* Responsive work Starts */

@media (max-width: 1600px) and (min-width: 1200px) {
  .header,
  .our-story,
  .our-blog {
    min-width: 1200px;
  }
}

@media (max-width: 1199px) and (min-width: 900px) {
  .header,
  .our-story,
  .our-blog {
    min-width: 1200px;
  }
}
@media (max-width: 899px) and (min-width: 768px) {
  .header,
  .our-story,
  .our-blog {
    min-width: 1200px;
  }
}
@media (max-width: 767px) {
  .header,
  .our-story,
  .our-blog {
    min-width: 1200px;
  }
}

/* homepage start */
.home-header {
  background-color: #0a2640;
  height: 798px;
  background-image: url(images/elip-one.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 787px;
}
.heading-h2 {
  color: #f1f1f1;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.navigation-b ul li a {
  color: #fff;
}
.navigation-b ul li:last-child a {
  border: 2px solid #fff;
  padding: 8px 40px;
  border-radius: 24px;
}

.heading-h5 {
  color: #f1f1f1;
  font-size: 14px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
}

.home-page {
  width: 550px;
  padding: 120px 0 10px 0;
}
/* .home-container {
  width: 550px;
  padding: 120px 0 10px 0px;

} */

.buy-template input {
  font-family: "Open Sans";
  background-color: #65e4a3;
  border: 2px solid #0a2640;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: 700;
  font-size: 20px;
}

.Explore input {
  font-family: "Open Sans";
  background-color: #0a2640;
  border: 2px solid #fff;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-left: 24px;
}

.buy-template form {
  display: flex;
}
.slide-images {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  box-shadow: 63px 0px 11px -19px rgba(0, 0, 0, 0.11) inset;
  -webkit-box-shadow: 63px 0px 11px -19px rgba(0, 0, 0, 0.11) inset;
  -moz-box-shadow: 63px 0px 11px -19px rgba(0, 0, 0, 0.11) inset;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.graphic-img {
  padding: 120px 0 10px 0;
}

.services-paragaraph {
  text-align: center;
  color: #777777;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
}

.services-heading {
  text-align: center;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  padding: 0px 43px;
}

.our-services {
  padding-top: 84px;
}

.news {
  padding-bottom: 80px;
  width: 300px;
  margin-right: 28px;
}

.news {
  display: flex;
}

/*  */

.box {
  width: 340px;
  height: 440px;
  color: black;
  font: 16px;
  background-color: white;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.banner {
  display: flex;
  justify-content: space-around;
}
.box-detail {
  font-family: "Open Sans";
  color: #777777;
  width: 230px;
}
.box-title {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 16px 0;
}

.prize {
  display: flex;
  align-items: center;
}

.card-btn {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-family: "Open Sans";
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  line-height: 132%;
  color: #0a2640;
  margin-bottom: 10px;
}

.fa-arrow-right:before {
  font-weight: 800;
}

.employ-details h1 {
  width: 493px;
  font-family: "Manrope";
  font-size: 36px;
  font-weight: 400;
}
.employ-details h2 {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  font-weight: 400;
}
.employ {
  display: flex;
  justify-content: space-evenly;
}
.customer-section {
  margin-top: 185px;
}
.customer-icon {
  margin-right: 27px;
  font-size: 36px;
}
.view-point input {
  font-family: "Open Sans";
  background-color: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  padding: 16px 56px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.view-point {
  margin-top: 56px;
}

.connect {
  padding-top: 70px;
}
.connect h1 {
  width: 493px;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 56px;
}

.connect-customer {
  display: flex;
  justify-content: space-evenly;
}
.customer-second {
  margin-top: 217px;
}

.connect h2 {
  font-size: 16px;
  font-family: "Open sans";
  line-height: 28px;
  box-shadow: 3px -1px 9px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 3px -1px 9px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px -1px 9px 3px rgba(0, 0, 0, 0.12);
  padding: 18px;
  background-color: #0a2640;
  color: #ffffff;
  display: flex;
}

.diff-color h2 {
  background-color: #ffffff;
  color: #000;
}
.connect img {
  padding-right: 12px;
}

.test-news h2 {
  width: 842px;
  /* height: 144px; */
  font-size: 48px;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 72px;
  text-align: center;
  padding-left: 150px;
}
.test-news h1 {
  font-family: "Open sans";
  color: #777;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

.buzz h4 {
  font-family: "Manrope";
  font-size: 47px;
  line-height: 72px;
  width: 716px;
  height: 139px;
  color: #ffffff;
  font-weight: 400;
}
.buzz {
  display: flex;
  justify-content: space-around;
}
.buzzer {
  font-family: "Open Sans";
  color: #fff;
  font-size: 60px;
  padding: 130px 0 0 10px;
}
.buzzer :first-child {
  padding-right: 24px;
}
/* .buzzi {
  background-color: #0A2640;
} */
.buzz-partner {
  background-color: #0a2640;
}

.card {
  width: 350px;
  background-color: #fff;
  padding: 16px;
  height: fit-content;
  border-radius: 12px;
}
.card-text {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 36px;
  width: 270px;
}
.card-section {
  display: flex;
  justify-content: space-around;
  padding: 96px 0 96px 0;
  font-weight: 400;
}

.info-text span {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 700;
  color: #0a2640;
}
.info-text p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #0a2640;
  font-weight: 400;
}

.info-text {
  margin-top: 28px;
}
.info-img {
  margin-right: 16px;
  margin-top: 40px;
}
.card-info {
  display: flex;
}

/* last section */

.bestest-text h2 {
  width: 500px;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 56px;
  font-size: 36px;
}

.best-text h4 {
  width: 387px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 32px;
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 16px;
}
.best-text span {
  position: absolute;
  right: 0px;
}

.best-customer {
  margin-top: 124px;
  display: flex;
  justify-content: center;
}
.both-text {
  display: flex;
  justify-content: space-around;
}

/* new page */
